<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionarios</title>
</head>
<body>
    <table>
        <tr th:each="fun : ${funcionarios}">
            <td th:text="${fun.code}"></td>
            <td th:text="${fun.name}"></td>
            <td th:text="${fun.jobPosition}"></td>
            <td th:text="${fun.nationalIdentity}"></td>
            <td th:text="${fun.salary}"></td>
        </tr>
    </table>
</body>
</html>